@font-face {
    font-family: Mak;
    src: url('mak-bold.otf') format('opentype');
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
}

.desktop {
    display: block !important;
}

.mobile {
    display: none !important;
}

ul,
p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #000000;
}

a:hover::after {
    background: linear-gradient(90.69deg, #e704ec 3.01%, #ff004c 117.26%);
}

a.anchor {
    display: block;
    position: relative;
    top: -98px;
    visibility: hidden;
}

body {
    background-image: url(background.jpg);
    background-repeat: repeat-y;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 98px;
    background-color: #f6f6f6;
    background-image: url(background.jpg);
}

.topbar-inner {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    display: block;
    width: 312px;
    margin-top: 30px;
    border: none;
}

.logo::after {
    display: none;
}

.logo img {
    display: block;
    width: 100%;
}

.menu-button {
    display: block;
    width: 24px;
    height: 18px;
    margin-top: 33px;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    padding: 140px 0 0 40px;
    transform: translateX(100%);
    transition: transform 0.4s;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.menu-item {
    display: block;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}

.menu-item a {
    cursor: pointer;
    color: #ffffff;
}

.menu-item a::after {
    display: none;
}

.menu-item a:hover {
    color: #e704ec;
}

.menu-separator {
    width: 740px;
    border-bottom: 2px solid #6b6b6b;
    margin: 40px 0;
}

.close-button {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40px;
    left: 760px;
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin-top: 80px;
    display: flex;
}

.avatar {
    display: block;
    width: 500px;
}

.title {
    margin: 72px 0 0 40px;
    color: #ffffff;
}

.name {
    font-family: Mak, Arial, Helvetica, sans-serif;
    font-size: 58px;
}

.name.wide {
    display: block;
}

.name.narrow {
    display: none;
}

.asterisk {
    width: 48px;
    height: 48px;
    position: relative;
    top: -16px;
    left: 2px;
    transform: scale(0);
    transition: transform 0.4s cubic-bezier(0.12, 0.69, 0.49, 2);
}

.occupation {
    margin-top: 18px;
    font-size: 38px;
}

.content {
    margin-top: 120px;
    display: flex;
}

.column-left {
    width: 420px;
    flex-grow: 0;
    flex-shrink: 0;
}

.column-right {
    position: relative;
    color: #ffffff;
    width: 780px;
    padding-left: 40px;
    flex-grow: 0;
    flex-shrink: 0;
}

.column-right a {
    color: #ffffff;
}

.column-right a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ffffff;
}

.column-right a:hover::after {
    background: linear-gradient(90.69deg, #e704ec 3.01%, #ff004c 117.26%);
}

.section:not(:first-child) {
    margin-top: 120px;
}

.section.fixed {
    position: fixed;
    margin-top: 0;
    top: 128px;
}

.section-header {
    font-family: Mak, Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-transform: uppercase;
}

.section-content {
    margin-top: 40px;
    font-size: 22px;
}

.section.about .section-content {
    margin-top: 42px;
}

.section.contacts .section-content,
.section.recs .section-content,
.section.languages .section-content,
.section.citizenships .section-content {
    margin-top: 20px;
}

.activities {
    margin-left: 23px;
    font-weight: 500;
    margin-right: 60px;
}

.activities li {
    list-style-image: url(star-magenta.svg);
    margin-top: 10px;
    padding-left: 4px;
}

.experience-years {
    margin-top: 26px;
    font-weight: 500;
}

.phone a::after,
.telegram a::after {
    display: none;
}

.phone a:hover,
.telegram a:hover {
    color: #e704ec;
}

.telegram {
    margin-top: 10px;
}

.cv {
    margin-top: 30px;
}

.expitem {
    position: relative;
}

.expitem:not(:first-child) {
    margin-top: 80px;
}

.expitem-bullet {
    display: block;
    position: absolute;
    top: 8px;
    left: -55px;
}

.expitem-indicator {
    display: block;
    position: absolute;
    top: 14px;
    left: -49px;
    transform: scale(0);
    transition: transform 0.4s cubic-bezier(0.12, 0.69, 0.49, 2);
}

.expitem-name {
    font-size: 30px;
    font-weight: 500;
}

.expitem-name.selected span {
    background: linear-gradient(90.69deg, #e704ec 3.01%, #ff004c 117.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.expitem-position {
    margin-top: 30px;
    font-weight: 600;
}

.expitem-period {
    margin-top: 2px;
    color: #6b6b6b;
}

.expitem ul {
    margin: 15px 0 30px 18px;
}

.expitem ul li {
    margin-top: 8px;
}

.expitem ul.condensed li {
    margin-top: 4px;
}

.expitem ul li span {
    position: relative;
    left: -4px;
}

.expitem ul li p {
    margin-left: -3px;
}

.expitem p {
    margin-top: 8px;
}

.editem {
    position: relative;
}

.editem:not(:first-child) {
    margin-top: 70px;
}

.editem-bullet {
    display: block;
    position: absolute;
    top: 2px;
    left: -55px;
}

.editem-indicator {
    display: block;
    position: absolute;
    top: 8px;
    left: -49px;
    transform: scale(0);
    transition: transform 0.4s;
}

.expitem-link {
    margin-top: 20px;
}

.expitem-description {
    font-size: 18px;
    margin-top: 40px;
}

.editem-year {
    color: #6b6b6b;
}

.editem-uni {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}

.editem-major {
    margin-top: 20px;
}

a.example {
    display: block;
}

a.example::after {
    display: none;
}

a.example:hover::after {
    display: none;
}

.example:not(:first-child) {
    margin-top: 80px;
}

.example-preview {
    display: block;
    width: 740px;
}

.example-name {
    margin-top: 20px;
}

.example-name span {
    position: relative;
}

.example-name span::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ffffff;
}

.example:hover .example-name span::after {
    background: linear-gradient(90.69deg, #e704ec 3.01%, #ff004c 117.26%);
}

.etudes-header {
    font-size: 30px;
    font-weight: 500;
    margin-top: 80px;
}

.etudes {
    margin-top: 30px;
}

.etude {
    margin-top: 22px;
}

.section:last-child {
    margin-bottom: 120px;
}

@media (max-width: 1200px) and (min-width: 720px) {
    .topbar {
        height: 60px;
    }

    a.anchor {
        top: -60px;
    }

    .logo {
        width: 221px;
        margin-top: 20px;
    }

    .menu-button {
        margin-top: 20px;
    }

    .header {
        margin-top: 60px;
    }

    .avatar {
        width: 300px;
    }

    .name {
        font-size: 52px;
    }

    .name.wide {
        display: none;
    }

    .name.narrow {
        display: block;
    }

    .asterisk {
        width: 30px;
        height: 30px;
        top: -21px;
        left: 4px;
    }

    .occupation {
        font-size: 24px;
    }

    .container {
        width: 720px;
    }

    .topbar-inner {
        width: 720px;
    }

    .content {
        margin-top: 90px;
    }

    .column-left {
        width: 260px;
    }

    .column-right {
        width: 460px;
    }

    .section-header {
        font-size: 36px;
    }

    .section-content {
        font-size: 18px;
    }

    .expitem-name {
        font-size: 24px;
    }

    .expitem-description {
        font-size: 16px;
    }

    .editem-uni {
        font-size: 24px;
    }

    .section:not(:first-child) {
        margin-top: 90px;
    }

    .section.fixed {
        top: 90px;
        margin-top: 0;
    }

    .section:last-child {
        margin-bottom: 90px;
    }

    .section-content {
        margin-top: 30px;
    }

    .section.about .section-content {
        margin-top: 32px;
    }

    .expitem:not(:first-child) {
        margin-top: 60px;
    }

    .expitem-position {
        margin-top: 25px;
    }

    .expitem-description {
        margin-top: 30px;
    }

    .editem:not(:first-child) {
        margin-top: 60px;
    }

    .example:not(:first-child) {
        margin-top: 60px;
    }

    .example-preview {
        width: 420px;
    }

    .example-name {
        margin-top: 15px;
    }

    .etudes-header {
        margin-top: 60px;
    }

    .etudes {
        margin-top: 20px;
    }

    .etude {
        margin-top: 15px;
    }

    .menu {
        padding-top: 80px;
    }

    .menu-item {
        font-size: 24px;
    }

    .menu-separator {
        width: 420px;
    }

    .close-button {
        left: 440px;
        top: 20px;
    }
}

@media (max-width: 720px) {
    html,
    body,
    .container,
    .column-left,
    .column-right,
    .topbar-inner,
    .header,
    .avatar,
    .example-preview,
    .menu {
        width: 100%;
    }

    .menu {
        top: 34px;
        padding: 30px 10px;
    }

    .menu-item {
        font-size: 20px;
        margin-top: 15px;
    }

    .topbar,
    .title,
    .column-left,
    .column-right {
        padding: 0 10px;
    }

    .content {
        display: block;
        margin: 0;
    }

    body {
        background: none;
    }

    .topbar {
        height: 34px;
        background-image: url(bg-white.jpg);
    }

    .logo {
        width: 157px;
        margin-top: 10px;
    }

    .menu-button {
        width: 19px;
        height: 14px;
        margin-top: 10px;
    }

    .column-left {
        background-image: url(bg-white.jpg);
        padding-bottom: 80px;
    }

    .column-right {
        background-image: url(bg-black.jpg);
        padding-bottom: 80px;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .header {
        background-image: url(bg-white.jpg);
        display: block;
        margin-top: 34px;
    }

    .avatar {
        width: 100%;
    }

    .title {
        margin: 40px 0 0 0;
        color: #000000;
    }

    .name {
        font-size: 50px;
        line-height: 60px;
        width: 320px;
    }

    .name.wide {
        display: none;
    }

    .name.narrow {
        display: block;
    }

    .occupation {
        font-size: 18px;
    }

    .section-header {
        font-size: 28px;
        margin-top: 80px;
    }

    .section-content {
        margin-top: 20px !important;
        font-size: 16px;
    }

    .expitem-name {
        margin-left: 23px;
        font-size: 20px;
    }

    .expitem-bullet {
        top: 7px;
        left: 0;
        width: 16px;
    }

    .expitem-indicator {
        top: 6px;
        left: -1px;
        width: 18px;
    }

    .expitem-position {
        margin-top: 20px;
    }

    .expitem-link {
        margin-top: 15px;
    }

    .expitem-description {
        margin-top: 30px;
        font-size: 14px;
    }

    .expitem:not(:first-child) {
        margin-top: 50px;
    }

    .section:not(:first-child) {
        margin-top: 0;
    }

    .editem-year {
        font-size: 16px;
    }

    .editem-uni {
        font-size: 20px;
    }

    .editem-major {
        font-size: 16px;
    }

    .editem:not(:first-child) {
        margin-top: 40px;
    }

    .example:not(:first-child) {
        margin-top: 50px;
    }

    .etudes-header {
        margin-top: 50px;
        font-size: 20px;
    }

    .etudes {
        margin-top: 20px;
    }

    .etude {
        margin-top: 15px;
    }

    .section:last-child {
        margin-bottom: 0;
    }

    a.anchor {
        top: 40px;
    }
}
